@{
    ViewData["Title"] = "About";
}
<style>
    p{
        font-weight:bold;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br />
            <br />
            <p>Pension Management Portal can perform the following operations</p>

            <p>It allows a Pensioner to Login</p>
            <p>If the Login credentials are Invalid, it is able to provide validation message </p>
            <p>After successful Login, the pensioner will to able to provide the details</p>
            <p>If the input pensioner details are Invalid, it is able to provide validation message </p>
            <p>If the input pensioner details are valid, the processed pension details will be displayed</p>
            <p>Based on Aadhar Number Pensioner can be able to view full details</p>
        </div>
        <div class="col-md-4">
            <img src=~/css/pngtree-character-man-and-woman-with-pension-saving-vector-png-image_1807564.jpg style="width:400px;height:400px;padding-top:1px;padding-left:50px" />
        </div>
    </div>
</div>
